.note{
	clear:both;
}

.noteView{
	display:none;
}

.noteView .col-md-12{
	text-align:center;
}

.noteView span{
	margin: 20px 0px 0px 0px;
	top:-30px;
	font-size:1.5em;
	cursor:pointer;
}

.noteView form{
	display:none;
}

.noteView form *{
	display:block;
}

.noteView form textarea{
	height:150px;
}

.noteView form label{
	text-align:left !important;
}

.noteView form button{
	display:inline;
}

.noteView .glyphicon-repeat{
	display:none;
}

.noteContainer span{
	display:none;
}

#shareNoteForm{
	display:none;
}

.row{
	padding-left:15px !important;
}